.projects-container {
    height: 1000px;
}
.header {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: white;
    position: relative;
    top: 50px;
}
.underline {

    position: absolute;
    margin-top: 10px;
    left: 50px;
    right: 50px;
    height: 5px;


    background-color: white;
}

.game-projects,
.uipath-projects,
.web-projects {
    height: 100%;
}
.projects {
    display: flex;
    height: 100%;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
}
.project img{
    display: inline;
    width: 200px;
    height: 500px;
    object-fit: cover;
    border: solid;
    border-color: white;
    border-width: 3px;
    transition: 0.4s;
}
.project img:hover {
    width: 400px;
    height: 700px;
}
.game-projects,
.web-projects {
    background: rgb(25, 25, 25);
}
.uipath-projects {
    background: rgb(15, 15, 15);
}