.footer {
    background-color: rgb(37, 37, 37);
    position: absolute;
    height: 100px;
    left: 0;
    right: 0;    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 17px;
}

.socials {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 45px;
}

.image-social {
    width: 45px;
    color: red;
    filter: invert(100%);
}