* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(rgb(37, 37, 37), rgb(156, 156, 156));
}
.page {
    display: flex;
    justify-content: center;
    height: 100vh;

    color: white;
    margin-top: 100px;
}
.project-info{
    position: relative;
}
.project-name {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
.project-platform {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}
.platform-text {
    font-weight: bold;
}
.actual-platform {
    color: rgb(172, 172, 172);
}
.underline {
    position: absolute;
    left: -100px;
    right: -100px;
    height: 5px;
    margin-top: 15px;

    background: white;
}
